{% extends "layouts/base.html" %}
{% block title %} Accueil {% endblock %}
<!-- Content Wrapper. Contains page content -->
{% block content %}
<style>

  .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: fit-content;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <div id="result">Some text in the Modal..</div>
  </div>

</div>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Data!</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">

      <form action="" method="post">
      {% csrf_token %}
        <div class="row">
          <div class="col-xl-4 col-md-12">
            <label for="id_secteur">Secteur</label>
            <input type="text" list="secteur_list" class="form-control form-pop" name="secteur" id="id_secteur" >
            <datalist id="secteur_list">
              {% for i in secteurs %}
              <option value="{{ i }}">
              {% endfor %}
            </datalist>
          </div>
          <div class="col-xl-4 col-md-12">
            <label for="id_ville">Ville</label>
            <input type="text" list="ville_list" class="form-control form-pop" name="ville" id="id_ville" >
            <datalist id="ville_list">

              {% for i in villes %}
              <option value="{{ i }}">
              {% endfor %}
            </datalist>
          </div>
          <div class="col-xl-4 col-md-12">
            <label for="id_competence">Compétences</label>
            <input type="text" list="competence_list" class="form-control form-pop" name="competence" id="id_competence" >
            <datalist id="competence_list">

              {% for i in skills %}
              <option value="{{ i }}">
              {% endfor %}
            </datalist>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xl-6 col-md-12">
          </div>
          <div class="col-xl-3 col-md-12">
            <h1 id="ajax"></h1>
          </div>
          <div class="col-xl-3 col-md-12">
            <div class="form-group">
                <div class="input-group input-group-lg" style="flex-direction: column;">
                    <input id="table_search" type="submit" value="Recherche" class="button-13">
                </div>
            </div>
          </div>
        </div>
      </form>
      <hr>
      <div id="table" class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Résultat</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Nom</th>
                  <th>Titre</th>
                  <th>Ville</th>
                  <th>Secteur d'activité</th>
                  <th>Experience</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                {% for i in data %}
                <tr>
                  <td>{{ i.Nom }}</td>
                  <td>{{ i.headline }}</td>
                  <td>{{ i.location }}</td>
                  <td>{{ i.industryName }}</td>
                  <td>{{ i.total_experience.years }} année(s) {{ i.total_experience.months }} mois</td>
                  <td>
                      <button  onclick="javascript:get_profile('{{ i.vanityname }}');" style="background-color: transparent;border: 0;" type="submit">
                        <i id="" class="fa fa-address-card-o"></i>
                      </button>
                    <a target="_blank" href="{{ i.Lien_Linkedin }}"><i class="fa fa-globe"></i></a></td>

                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                  <th>Nom</th>
                  <th>Titre</th>
                  <th>Ville</th>
                  <th>Secteur d'activité</th>
                  <th>Experience</th>
                  <th></th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
        </div>

      </div>
    </div>
    <script>


    </script>

      <script>
        var modal = document.getElementById("myModal");
        var span = document.getElementsByClassName("close")[0];
        span.onclick = function() {
              modal.style.display = "none";
            }

        function get_profile(vanityname) {
            var inputTextValue;
            console.log(vanityname);
            event.preventDefault();
            let formData = new FormData();
            formData.append('vanityname', vanityname);
            let csrfTokenValue = document.querySelector('[name=csrfmiddlewaretoken]').value;

            document.getElementById('table_search').style.display='None';
            const request = new Request('{% url "table_search_ajax" %}', {
                method: 'POST',
                body: formData,
                headers: {'X-CSRFToken' : csrfTokenValue}
            });
            fetch(request)
                .then(response => response.text())
                .then(result => {
                      var resultElement = document.querySelector("#result");
                      resultElement.innerHTML=result;
                      var modal = document.getElementById("myModal");
                      modal.style.display = "block";
                })
        }
      </script>
  </section>
  <!-- /.content -->
</div>
{% endblock content %}

{% block javascripts %}
{% endblock javascripts %}
<!-- /.content-wrapper -->