{% extends "layouts/base.html" %}
{% block title %} chercher {% endblock %}
<!-- Content Wrapper. Contains page content -->
{% block content %}
<style>
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background: linear-gradient(0deg, rgba(255, 61, 0, 0.2) 33%, #ff3d00 100%);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #f4f6f9;
}
@keyframes rotation {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg)}
}




.info-msg,
.success-msg,
.warning-msg,
.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}
.info-msg {
  color: #059;
  background-color: #BEF;
}
.success-msg {
  color: #270;
  background-color: #DFF2BF;
}
.warning-msg {
  color: #9F6000;
  background-color: #FEEFB3;
}
.error-msg {
  color: #D8000C;
  background-color: #FFBABA;
}


.button-13 {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.button-13:hover {
  background-color: #f7fafa;
}

.button-13:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

</style>
<div class="content-wrapper" style="min-height: 1388.5px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div id="ajax" class="container-fluid">
        <h2 class="text-center display-4">Outil de scrapping</h2>
      </div>
        <div class="tab">
          <button class="tablinks london " onclick="openCity(event, 'London')">Recherche simple</button>
          <button class="tablinks" onclick="openCity(event, 'Tokyo')">recherche de masse</button>
        </div>
        <script>
        function openCity(evt, cityName) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
          document.getElementById(cityName).style.display = "block";
          evt.currentTarget.className += " active";
        }

        </script>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div id="London" class="col-md-12 tabcontent">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row" style="align-items:center">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <div class="input-group input-group-lg">
                                        <input type="text" id="link" style="border-radius: 4vw;width:90%;" placeholder="Line de profile"   class="form-control form-control-lg" >
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 offset-md-1">
                                <div class="form-group">
                                    <div class="input-group input-group-lg" style="flex-direction: column;">
                                        <input id="id_search" type="submit" class="button-13"><span id="single-search" style="display:None;" class="loader"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="col-md-10 offset-md-1">
                        <div class="list-group">

                        </div>
                    </div>
                </div>

                <div id="Tokyo" style="width: 100%;" class="tabcontent">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row" style="align-items: center;">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="input-group input-group-lg">
                                        <input placeholder="Secteur"  style="border-radius: 4vw;" class="form-control form-control-lg"  type="text" name="Cat_services" id="Cat_services" list="Cat_services_list">
                                        <datalist id="Cat_services_list">
                                            <option value="Administration publique ">
                                            <option value="Administration scolaire et universitaire ">
                                            <option value="Aéronautique et aérospatiale ">
                                            <option value="Affaires étrangères ">
                                            <option value="Agriculture ">
                                            <option value="Agro-alimentaire ">
                                            <option value="Architecture et urbanisme ">
                                            <option value="Armée ">
                                            <option value="Articles de luxe et bijouterie ">
                                            <option value="Articles de sport ">
                                            <option value="Arts ">
                                            <option value="Arts et artisanat ">
                                            <option value="Arts vivants ">
                                            <option value="Associations et organisations sociales et syndicales ">
                                            <option value="Assurances ">
                                            <option value="Automatismes industriels ">
                                            <option value="Avocats ">
                                            <option value="Banques ">
                                            <option value="Bibliothèques ">
                                            <option value="Biens de consommation">
                                            <option value="Biens et équipements pour les entreprises ">
                                            <option value="Biotechnologie ">
                                            <option value="Bureau exécutif ">
                                            <option value="Capital-risque et fonds LBO ">
                                            <option value="Centres de recherches ">
                                            <option value="Chantiers navals ">
                                            <option value="Chimie ">
                                            <option value="Collectivités publiques et territoriales ">
                                            <option value="Commerce de détail ">
                                            <option value="Commerce de gros ">
                                            <option value="Commerce et développement international ">
                                            <option value="Compagnie aérienne/Aviation ">
                                            <option value="Comptabilité ">
                                            <option value="Confection et mode ">
                                            <option value="Conseil en management ">
                                            <option value="Construction ">
                                            <option value="Contenus rédactionnels ">
                                            <option value="Cosmétiques ">
                                            <option value="Défense et espace ">
                                            <option value="Design ">
                                            <option value="Design graphique ">
                                            <option value="Divertissements ">
                                            <option value="Édition ">
                                            <option value="Élaboration de programmes ">
                                            <option value="Élevage ">
                                            <option value="Emballages et conteneurs ">
                                            <option value="Enseignement supérieur ">
                                            <option value="Entreposage, stockage ">
                                            <option value="Environnement et énergies renouvelables ">
                                            <option value="Équipements collectifs ">
                                            <option value="Équipements et services de loisirs ">
                                            <option value="Équipements ferroviaires ">
                                            <option value="Équipements médicaux ">
                                            <option value="Études/recherche ">
                                            <option value="Études de marché ">
                                            <option value="Externalisation/délocalisation ">
                                            <option value="Films d’animation ">
                                            <option value="Formation à distance ">
                                            <option value="Formation primaire/secondaire ">
                                            <option value="Formation professionnelle et coaching ">
                                            <option value="Génie civil ">
                                            <option value="Gestion de portefeuilles ">
                                            <option value="Gestion des associations et fondations ">
                                            <option value="Grande distribution ">
                                            <option value="Hôpitaux et centres de soins ">
                                            <option value="Hôtellerie et hébergement ">
                                            <option value="Humanitaire ">
                                            <option value="Immobilier ">
                                            <option value="Immobilier commercial ">
                                            <option value="Import et export ">
                                            <option value="Imprimerie, reproduction ">
                                            <option value="Industrie automobile ">
                                            <option value="Industrie bois et papiers ">
                                            <option value="Industrie composants électriques/électroniques">
                                            <option value="Industrie du cinéma ">
                                            <option value="Industrie pharmaceutique ">
                                            <option value="Industrie textile ">
                                            <option value="Ingénierie du mécénat ">
                                            <option value="Ingénierie mécanique ou industrielle ">
                                            <option value="Institutions judiciaires ">
                                            <option value="Institutions religieuses ">
                                            <option value="Internet ">
                                            <option value="Jeux d’argent et casinos">
                                            <option value="Jeux électroniques ">
                                            <option value="Logiciels informatiques ">
                                            <option value="Logistique et chaîne d’approvisionnement ">
                                            <option value="Loisirs, voyages et tourisme ">
                                            <option value="Machines et équipements ">
                                            <option value="Marchés des capitaux ">
                                            <option value="Marketing et publicité ">
                                            <option value="Matériaux de construction ">
                                            <option value="Matériel informatique ">
                                            <option value="Matières premières ">
                                            <option value="Médecines alternatives ">
                                            <option value="Médias en ligne ">
                                            <option value="Médias radio et télédiffusés ">
                                            <option value="Messageries et fret ">
                                            <option value="Meubles ">
                                            <option value="Mines et métaux ">
                                            <option value="Musées et institutions culturelles ">
                                            <option value="Musique ">
                                            <option value="Nanotechnologies ">
                                            <option value="Organisation d’événements ">
                                            <option value="Parti politique ">
                                            <option value="Pêche ">
                                            <option value="Pétrole et énergie ">
                                            <option value="Photographie ">
                                            <option value="Plastiques ">
                                            <option value="Police/gendarmerie ">
                                            <option value="Politiques publiques ">
                                            <option value="Presse écrite ">
                                            <option value="Production audiovisuelle ">
                                            <option value="Produits électroniques grand public ">
                                            <option value="Professions médicales ">
                                            <option value="Recrutement ">
                                            <option value="Règlement extrajudiciaire de conflits ">
                                            <option value="Relations publiques et communication ">
                                            <option value="Réseaux informatiques ">
                                            <option value="Ressources humaines ">
                                            <option value="Restaurants ">
                                            <option value="Restauration collective ">
                                            <option value="Santé, forme et bien-être ">
                                            <option value="Secteur laitier ">
                                            <option value="Secteur médico-psychologique ">
                                            <option value="Sécurité civile ">
                                            <option value="Sécurité et enquêtes ">
                                            <option value="Sécurité informatique et des réseaux ">
                                            <option value="Semi-conducteurs ">
                                            <option value="Services à la personne ">
                                            <option value="Services aux consommateurs ">
                                            <option value="Services d’information ">
                                            <option value="Services d’investissement ">
                                            <option value="Services financiers ">
                                            <option value="Services juridiques ">
                                            <option value="Services pour l’environnement ">
                                            <option value="Sports ">
                                            <option value="Tabac ">
                                            <option value="Technologies et services de l’information ">
                                            <option value="Technologies sans fil ">
                                            <option value="Télécommunications ">
                                            <option value="Traduction et adaptation ">
                                            <option value="Transports maritimes ">
                                            <option value="Transports routiers et ferroviaires ">
                                            <option value="Verres, céramiques et ciments ">
                                            <option value="Vétérinaire ">
                                            <option value="Vins et spiritueux ">

                                        </datalist>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="input-group input-group-lg">
                                        <input style="border-radius: 4vw;" id="keyword" placeholder="mot-clé" class="form-control form-control-lg" >
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 offset-md-1">
                                <div class="form-group">
                                    <div class="input-group input-group-lg">
                                        <div class="input-group-append">
                                            <input id="ajax-call" type="submit" class="button-13"><span id="mass-search" style="display:None;" class="loader"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 offset-md-1">
                                <div id="result"></div><br>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </section>
  </div>
  <script>
    document.querySelector("#ajax-call").addEventListener("click", event => {
        var inputTextValue;
        keyword = document.querySelector('#keyword').value;
        Cat_services = document.querySelector('#Cat_services').value;


        event.preventDefault();
        let formData = new FormData();
        if (Cat_services == null) {
          Cat_services = "";
        }
        if (keyword == null) {
          keyword = "";
        }
        formData.append('keyword', keyword);
        formData.append('sector', Cat_services);
        let csrfTokenValue = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const request = new Request('{% url "mass_search" %}', {
            method: 'POST',
            body: formData,
            headers: {'X-CSRFToken' : csrfTokenValue}
        });
        document.getElementById('ajax-call').style.display='None';
        document.getElementById('mass-search').style.display='Block';
        fetch(request)
            .then(response => response.text())
            .then(result => {
                    const container = document.getElementById('result');
                    var gld= document.getElementById('result');
                    var robj = JSON.parse(result);
                    if (result['nb_found'] >= 1) {
                        var r=`
                        <div class="success-msg">
                          <i class="fa fa-check"></i>
                          Analyse completé. ${robj['nb_found']} trouvé(s), ${robj['nb_add']} ajouté(s) au base de donné.
                        </div>
                        `
                    } else {
                        if (result['success'] == 'done') {
                            var r=`
                            <div class="warning-msg">
                              <i class="fa fa-warning"></i>
                              Erreur au cours d'analyse. ${robj['nb_found']} trouvé(s), ${robj['nb_add']} ajouté(s) au base de donné.
                            </div>
                            `
                        } else {

                            var r=`
                            <div class="warning-msg">
                              <i class="fa fa-warning"></i>
                              Déjà ajoutée(s) ! ${robj['nb_found']} trouvé(s), ${robj['nb_add']} ajouté(s) au base de donné.
                            </div>
                            `
                        }

                    }
                    gld.innerHTML= r
                    console.log(result);
                    document.getElementById('ajax-call').style.display='Block';
                    document.getElementById('mass-search').style.display='None';
            })
    })

    document.querySelector("#id_search").addEventListener("click", event => {
        var inputTextValue;
        link = document.querySelector('#link').value;
        event.preventDefault();
        let formData = new FormData();
        if (link == null) {
          link = "";
        }
        formData.append('link', link);
        let csrfTokenValue = document.querySelector('[name=csrfmiddlewaretoken]').value;
        document.getElementById('id_search').style.display='None';
        document.getElementById('single-search').style.display='Block';
        const request = new Request('{% url "single_search" %}', {
            method: 'POST',
            body: formData,
            headers: {'X-CSRFToken' : csrfTokenValue}
        });
        fetch(request)
            .then(response => response.text())
            .then(result => {
                  const resultElement = document.querySelector("#ajax");
                    var gld= document.getElementsByClassName('list-group');
                    gld[0].innerHTML=result


                    document.getElementById('id_search').style.display='Block';
                    document.getElementById('single-search').style.display='None';



            })
    })
  </script>
<script>
    var l=document.getElementsByClassName('london')
    l[0].click()
</script>
{% endblock content %}
<!-- /.content-wrapper -->

