{% extends "layouts/base.html" %}
{% block title %} chercher {% endblock %}
<!-- Content Wrapper. Contains page content -->
{% block content %}

<div class="content-wrapper" style="min-height: 1388.5px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div id="ajax" class="container-fluid">
        <h2 class="text-center display-4">Enhanced Search</h2>


      </div>


        <div class="tab">
          <button class="tablinks london " onclick="openCity(event, 'London')">London</button>
          <button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button>
        </div>



        <script>
        function openCity(evt, cityName) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
          document.getElementById(cityName).style.display = "block";
          evt.currentTarget.className += " active";
        }

        </script>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div id="London" class="tabcontent">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <div class="input-group input-group-lg">
                                        <label>Nom d'utilisateur :</label>
                                        <input id="username" class="form-control form-control-lg" >
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 offset-md-1">
                                <div class="form-group">
                                    <div class="input-group input-group-lg">
                                        <div class="input-group-append">
                                            <input id="id_search" type="submit" class="btn btn-lg btn-default">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="col-md-10 offset-md-1">
                        <div class="list-group">



<!--                            <div class="list-group-item">-->
<!--                                <div class="row">-->
<!--                                    <div class="col px-4">-->
<!--                                        <div>-->
<!--                                            <div class="float-right">2021-04-20 04:04pm</div>-->
<!--                                            <h3>Lorem ipsum dolor sit amet</h3>-->
<!--                                            <p class="mb-0">consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="list-group-item">-->
<!--                                <div class="row">-->
<!--                                    <div class="col-auto">-->
<!--                                        <img class="img-fluid" src="../../dist/img/photo1.png" alt="Photo" style="max-height: 160px;">-->
<!--                                    </div>-->
<!--                                    <div class="col px-4">-->
<!--                                        <div>-->
<!--                                            <div class="float-right">2021-04-20 10:14pm</div>-->
<!--                                            <h3>Lorem ipsum dolor sit amet</h3>-->
<!--                                            <p class="mb-0">consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="list-group-item">-->
<!--                                <div class="row">-->
<!--                                    <div class="col-auto">-->
<!--                                        <iframe width="240" height="160" src="https://www.youtube.com/embed/WEkSYw3o5is?controls=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" class="border-0" allowfullscreen=""></iframe>-->
<!--                                    </div>-->
<!--                                    <div class="col px-4">-->
<!--                                        <div>-->
<!--                                            <div class="float-right">2021-04-20 11:54pm</div>-->
<!--                                            <h3>Lorem ipsum dolor sit amet</h3>-->
<!--                                            <p class="mb-0">consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>

                <div id="Tokyo" class="tabcontent">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group input-group-lg">
                                        <label>Secteur :</label>
                                        <input class="form-control form-control-lg"  type="text" name="Cat_services" id="Cat_services" list="Cat_services_list">
                                        <datalist id="Cat_services_list">
                                            <option value="Administration publique ">
                                            <option value="Administration scolaire et universitaire ">
                                            <option value="Aéronautique et aérospatiale ">
                                            <option value="Affaires étrangères ">
                                            <option value="Agriculture ">
                                            <option value="Agro-alimentaire ">
                                            <option value="Architecture et urbanisme ">
                                            <option value="Armée ">
                                            <option value="Articles de luxe et bijouterie ">
                                            <option value="Articles de sport ">
                                            <option value="Arts ">
                                            <option value="Arts et artisanat ">
                                            <option value="Arts vivants ">
                                            <option value="Associations et organisations sociales et syndicales ">
                                            <option value="Assurances ">
                                            <option value="Automatismes industriels ">
                                            <option value="Avocats ">
                                            <option value="Banques ">
                                            <option value="Bibliothèques ">
                                            <option value="Biens de consommation">
                                            <option value="Biens et équipements pour les entreprises ">
                                            <option value="Biotechnologie ">
                                            <option value="Bureau exécutif ">
                                            <option value="Capital-risque et fonds LBO ">
                                            <option value="Centres de recherches ">
                                            <option value="Chantiers navals ">
                                            <option value="Chimie ">
                                            <option value="Collectivités publiques et territoriales ">
                                            <option value="Commerce de détail ">
                                            <option value="Commerce de gros ">
                                            <option value="Commerce et développement international ">
                                            <option value="Compagnie aérienne/Aviation ">
                                            <option value="Comptabilité ">
                                            <option value="Confection et mode ">
                                            <option value="Conseil en management ">
                                            <option value="Construction ">
                                            <option value="Contenus rédactionnels ">
                                            <option value="Cosmétiques ">
                                            <option value="Défense et espace ">
                                            <option value="Design ">
                                            <option value="Design graphique ">
                                            <option value="Divertissements ">
                                            <option value="Édition ">
                                            <option value="Élaboration de programmes ">
                                            <option value="Élevage ">
                                            <option value="Emballages et conteneurs ">
                                            <option value="Enseignement supérieur ">
                                            <option value="Entreposage, stockage ">
                                            <option value="Environnement et énergies renouvelables ">
                                            <option value="Équipements collectifs ">
                                            <option value="Équipements et services de loisirs ">
                                            <option value="Équipements ferroviaires ">
                                            <option value="Équipements médicaux ">
                                            <option value="Études/recherche ">
                                            <option value="Études de marché ">
                                            <option value="Externalisation/délocalisation ">
                                            <option value="Films d’animation ">
                                            <option value="Formation à distance ">
                                            <option value="Formation primaire/secondaire ">
                                            <option value="Formation professionnelle et coaching ">
                                            <option value="Génie civil ">
                                            <option value="Gestion de portefeuilles ">
                                            <option value="Gestion des associations et fondations ">
                                            <option value="Grande distribution ">
                                            <option value="Hôpitaux et centres de soins ">
                                            <option value="Hôtellerie et hébergement ">
                                            <option value="Humanitaire ">
                                            <option value="Immobilier ">
                                            <option value="Immobilier commercial ">
                                            <option value="Import et export ">
                                            <option value="Imprimerie, reproduction ">
                                            <option value="Industrie automobile ">
                                            <option value="Industrie bois et papiers ">
                                            <option value="Industrie composants électriques/électroniques">
                                            <option value="Industrie du cinéma ">
                                            <option value="Industrie pharmaceutique ">
                                            <option value="Industrie textile ">
                                            <option value="Ingénierie du mécénat ">
                                            <option value="Ingénierie mécanique ou industrielle ">
                                            <option value="Institutions judiciaires ">
                                            <option value="Institutions religieuses ">
                                            <option value="Internet ">
                                            <option value="Jeux d’argent et casinos">
                                            <option value="Jeux électroniques ">
                                            <option value="Logiciels informatiques ">
                                            <option value="Logistique et chaîne d’approvisionnement ">
                                            <option value="Loisirs, voyages et tourisme ">
                                            <option value="Machines et équipements ">
                                            <option value="Marchés des capitaux ">
                                            <option value="Marketing et publicité ">
                                            <option value="Matériaux de construction ">
                                            <option value="Matériel informatique ">
                                            <option value="Matières premières ">
                                            <option value="Médecines alternatives ">
                                            <option value="Médias en ligne ">
                                            <option value="Médias radio et télédiffusés ">
                                            <option value="Messageries et fret ">
                                            <option value="Meubles ">
                                            <option value="Mines et métaux ">
                                            <option value="Musées et institutions culturelles ">
                                            <option value="Musique ">
                                            <option value="Nanotechnologies ">
                                            <option value="Organisation d’événements ">
                                            <option value="Parti politique ">
                                            <option value="Pêche ">
                                            <option value="Pétrole et énergie ">
                                            <option value="Photographie ">
                                            <option value="Plastiques ">
                                            <option value="Police/gendarmerie ">
                                            <option value="Politiques publiques ">
                                            <option value="Presse écrite ">
                                            <option value="Production audiovisuelle ">
                                            <option value="Produits électroniques grand public ">
                                            <option value="Professions médicales ">
                                            <option value="Recrutement ">
                                            <option value="Règlement extrajudiciaire de conflits ">
                                            <option value="Relations publiques et communication ">
                                            <option value="Réseaux informatiques ">
                                            <option value="Ressources humaines ">
                                            <option value="Restaurants ">
                                            <option value="Restauration collective ">
                                            <option value="Santé, forme et bien-être ">
                                            <option value="Secteur laitier ">
                                            <option value="Secteur médico-psychologique ">
                                            <option value="Sécurité civile ">
                                            <option value="Sécurité et enquêtes ">
                                            <option value="Sécurité informatique et des réseaux ">
                                            <option value="Semi-conducteurs ">
                                            <option value="Services à la personne ">
                                            <option value="Services aux consommateurs ">
                                            <option value="Services d’information ">
                                            <option value="Services d’investissement ">
                                            <option value="Services financiers ">
                                            <option value="Services juridiques ">
                                            <option value="Services pour l’environnement ">
                                            <option value="Sports ">
                                            <option value="Tabac ">
                                            <option value="Technologies et services de l’information ">
                                            <option value="Technologies sans fil ">
                                            <option value="Télécommunications ">
                                            <option value="Traduction et adaptation ">
                                            <option value="Transports maritimes ">
                                            <option value="Transports routiers et ferroviaires ">
                                            <option value="Verres, céramiques et ciments ">
                                            <option value="Vétérinaire ">
                                            <option value="Vins et spiritueux ">

                                        </datalist>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <div class="input-group input-group-lg">
                                        <label>Keyword :</label>
                                        <input id="keyword" class="form-control form-control-lg" >
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 offset-md-1">
                                <div class="form-group">
                                    <div class="input-group input-group-lg">
                                        <div class="input-group-append">
                                            <input id="ajax-call" type="submit" class="btn btn-lg btn-default">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="col-md-10 offset-md-1">
                        <div class="list-group">
                            <div class="list-group-item">
                                <div class="row">
                                    <div class="col px-4">
                                        <div>
                                            <div class="float-right">2021-04-20 04:04pm</div>
                                            <h3>Lorem ipsum dolor sit amet</h3>
                                            <p class="mb-0">consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="row">
                                    <div class="col-auto">
                                        <img class="img-fluid" src="../../dist/img/photo1.png" alt="Photo" style="max-height: 160px;">
                                    </div>
                                    <div class="col px-4">
                                        <div>
                                            <div class="float-right">2021-04-20 10:14pm</div>
                                            <h3>Lorem ipsum dolor sit amet</h3>
                                            <p class="mb-0">consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="row">
                                    <div class="col-auto">
                                        <iframe width="240" height="160" src="https://www.youtube.com/embed/WEkSYw3o5is?controls=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" class="border-0" allowfullscreen=""></iframe>
                                    </div>
                                    <div class="col px-4">
                                        <div>
                                            <div class="float-right">2021-04-20 11:54pm</div>
                                            <h3>Lorem ipsum dolor sit amet</h3>
                                            <p class="mb-0">consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
  </div>
  <script>
    document.querySelector("#ajax-call").addEventListener("click", event => {
        var inputTextValue;
        keyword = document.querySelector('#keyword').value;
        Cat_services = document.querySelector('#Cat_services').value;
        event.preventDefault();
        let formData = new FormData();
        if (Cat_services == null) {
          Cat_services = "";
        }
        if (keyword == null) {
          keyword = "";
        }
        formData.append('keyword', keyword);
        formData.append('Cat_services', Cat_services);
        let csrfTokenValue = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const request = new Request('{% url "compute" %}', {
            method: 'POST',
            body: formData,
            headers: {'X-CSRFToken' : csrfTokenValue}
        });
        fetch(request)
            .then(response => response.text())
            .then(result => {
                  const resultElement = document.querySelector("#ajax");
                  console.log(result);
                  document.getElementById("ajax").innerHTML == result
            })
    })

    document.querySelector("#id_search").addEventListener("click", event => {
        var inputTextValue;
        username = document.querySelector('#username').value;
        event.preventDefault();
        let formData = new FormData();
        if (username == null) {
          username = "";
        }
        formData.append('username', username);
        let csrfTokenValue = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const request = new Request('{% url "id_search_ajax" %}', {
            method: 'POST',
            body: formData,
            headers: {'X-CSRFToken' : csrfTokenValue}
        });
        fetch(request)
            .then(response => response.text())
            .then(result => {
                  const resultElement = document.querySelector("#ajax");
                    var gld= document.getElementsByClassName('list-group');
                    console.log(gld)
                    gld[0].innerHTML=''
                    var obj = JSON.parse(result);


console.log(obj)
for (let k in obj) {
        var key=k
        var value=result[k]


                  var r=`
                             <div class="list-group-item">
                                <div class="row">
                                    <div class="col px-4">
                                        <div>
                                            <h3>${key}</h3>
                                            <p class="mb-0">${value}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                  `
            gld[0].innerHTML += r
            console.log(key,value)
                    }





            })
    })
  </script>
<script>
    var l=document.getElementsByClassName('london')
    l[0].click()
</script>
{% endblock content %}
<!-- /.content-wrapper -->

